[submodule "model-blip2-frame-vector/buildscripts"]
	path = model-blip2-frame-vector/buildscripts
	url = git@github.com:qluvio/buildscripts
[submodule "model-qwenvl-video-vector/buildscripts"]
	path = model-qwenvl-video-vector/buildscripts
	url = git@github.com:qluvio/buildscripts
